.box-input {
  background: #f3f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  text-align: center;
  border: 1px solid #00008b;
}

.box-drop {
  margin-left: 20px;
}

.box-file {
  width: 160px;
}

.output {
  background: #f3f2f2;
  border: 1px solid #00008b;
  width: 100%;
  min-height: 300px;
}